.button_ {
  text-align: left;
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  /* margin-right: 1rem; */
}

.button_:hover,
.button_:active {
  background-color: #510674;
  border-color: #510674;
}
.button_.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.button_.alternative:hover,
.button_.alternative:active {
  background-color: #ddb3f8;
}
